# Node.js and npm
node_modules/
package-lock.json

# Built files
/build

# IDE files
.vscode/
.idea/

# Logs and debug files
npm-debug.log*

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac files
.DS_Store

# Editor configuration
.editorconfig

# Yarn
.yarn
.yarnrc
.yarn-integrity
