/* General button styling */
button {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.remove-list-button {
    background-color: #f44336;

    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.remove-list-button:hover {
    background-color: #d32f2f;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 11;
    width: 90%;
    /* Set a max width */
    max-width: 500px;
    /* And a max width */
}

.modal button {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.modal button:last-child {
    background-color: #f44336;
    color: white;
}

.modal button:last-child:hover {
    background-color: #d32f2f;
}

/* Light theme styles */
body.light .modal {
    background-color: #fff;
    color: #333;
}

body.light .modal button {
    background-color: #f0f0f0;
    color: #333;
}

body.light .modal button:last-child {
    background-color: #f44336;
    color: white;
}

/* Dark theme styles */
body.dark .modal {
    background-color: #333;
    color: #fff;
}

body.dark .modal button {
    background-color: #555;
    color: #fff;
}

body.dark .modal button:last-child {
    background-color: #f44336;
    color: white;
}

/* Responsive adjustments for modals */
@media (max-width: 600px) {
    .modal {
        width: 80%;
        /* Adjust width for smaller screens */
    }

    .modal button {
        width: 100%;
        /* Full width buttons for smaller screens */
        margin: 5px 0;
        /* Add space between buttons */
    }
}

/* Responsive adjustments for remove-list-button */
@media (max-width: 600px) {
    .remove-list-button {
        padding: 10px;
        /* Adjust padding as needed */
        width: 100%;
        /* Full width button */
        box-sizing: border-box;
        /* Include padding in width */
    }

    .modal button {
        padding: 15px 30px; /* Increase the padding */
        font-size: 1.2rem; /* Increase the font size */
        width: 100%; /* Full width buttons for smaller screens */
        margin: 5px 0; /* Add space between buttons */
    }
}