.list-detail {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-title {
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title-with-edit {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;
}

.list-title {
    margin-bottom: 0;
}


.delete-list-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-left: 1rem;
}

.delete-list-button:hover {
    background-color: #c82333;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title-and-actions {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-actions {
    display: flex;
    gap: 0.5rem;
    margin-top: -0.5rem
}

.list-edit-form {
    display: flex;
    align-items: center;
}

.edit-list-button {
    background-color: #ffffff;
    color: #212529;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: background-color 0.2s, transform 0.1s;
    outline: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 0.5rem;
}

.edit-list-button:hover,
.edit-list-button:focus {
    background-color: #e0a800;
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.edit-list-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.edit-list-button:disabled {
    background-color: #ffe8a1;
    color: #212529;
    cursor: not-allowed;
}

.list-name-edit {
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.25rem;
    margin-right: 1rem;
}

.leave-list-button {
    background-color: #c29b26;
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.leave-list-button:hover {
    background-color: #e0a800;
}

.filter-buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
}

.filter-button {
    background-color: #f8f9fa;
    color: #212529;
    border: 1px solid #dee2e6;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filter-button:hover {
    background-color: #e2e6ea;
}

.filter-button:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.filter-button:disabled {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.list-owner-actions {
    display: flex;
    gap: 0.5rem;
}

.archive-list-button {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-left: 1rem;

}

.archive-list-button:hover {
    background-color: #ec971f;

}