.list-item-detail {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.list-item-detail:hover {
    background-color: #e9e9e9;
}

.item-name {
    margin-left: 0.5rem;
    flex-grow: 1;
}

.item-resolved {
    text-decoration: line-through;
    color: #6c757d;
}

.remove-item {
    background-color: #9b333d;
    border: none;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.remove-item:hover {
    background-color: #c82333;
}
